{{!-- Tempo real --}}
<h1>Lista de Produtos</h1>

<form id="productForm">
    <input type="text" placeholder="Title" name="title" required />
    <input type="text" placeholder="Description" name="description" required />
    <input type="text" placeholder="Code" name="code" required />
    <input type="number" placeholder="Price" name="price" required />
    <input type="number" placeholder="Stock" name="stock" required />
    <input type="text" placeholder="Category" name="category" required />
    {{!-- <input type="text" placeholder="Thumbnails (comma separated)" name="thumbnails" /> --}}
    <button type="submit">Adicionar Produto</button>
</form>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    const productList = document.getElementById('productList')
    const form = document.getElementById('productForm')

    socket.on('productsUpdated', (products) => {
        productList.innerHTML = ''
        products.forEach(p => {
            const li = document.createElement('li')
            li.innerText = 
            `
            ${p.title} - 
            ${p.description} - 
            ${p.code} - 
            ${p.price} - 
            ${p.status} - 
            ${p.stock} - 
            ${p.category}
            `
            productList.appendChild(li)
        })
    })

    form.addEventListener('submit', (e) => {
        e.preventDefault()
        const formData = new FormData(form)
        const product = {
            title: formData.get('title'),
            description: formData.get('description'),
            code: formData.get('code'),
            price: parseFloat(formData.get('price')),
            status: true,
            stock: parseInt(formData.get('stock')),
            category: formData.get('category')
        }
        socket.emit('newProduct', product)
        form.reset()
    })
</script>